body {
    margin: 0;
    background-color: #1F2937;
    max-width: 100%;
    max-height: 100%;
    
}


.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6943FF;
    font-size: 15px;
    padding-top: 8px;
}

#convert-btn {
 padding: 11px 33px 11px 33px;
 margin-top: 25px;
 background-color: white;
 border-radius: 5px;
 margin-bottom: 35px;
 font-size: 15px;
 font-family: 'Roboto';
}

#input {
    width: 117;
    height: 110;
    font-size: 60;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: 650;
    background-color: #6943FF;
    border-color: white;
    border: 2.5px solid;
    margin-top: 15px;
}

#section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.el-one {
   background-color: #273549;
   border-radius: 8px;
   padding: 1px 60px 1px 60px;
   margin-top: 35;
   text-align: center;
   width: 500px;
}

.el-two {
   background-color: #273549;
   border-radius: 8px;
   padding: 1px 60px 1px 60px;
   margin-top: 25px;
   text-align: center;
   width: 500px;
}

.el-three {
   background-color: #273549;
   border-radius: 8px;
   padding: 1px 60px 1px 60px;
   margin-top: 25px;
   text-align: center;
   width: 500px;
}

h3 {
    color: #CCC1FF;
}

p {
    color: white;
}